extends ../layouts/main.jade

block title
	title Smart Trainer Studio

block content
	include ../parts/header.jade
	include ../parts/advantages.jade
	include ../parts/slider.jade
	include ../parts/smart.jade
	include ../parts/specialist.jade
	include ../parts/review.jade
	include ../parts/maps.jade
	include ../parts/footer.jade
	include ../parts/mobile.jade
