section.advantage__wrapper
  article.advantage
    h1.advantage__title Преимущества тренировок на свежем воздухе
    span.advantage__border
    ul.advantage__list
      li.advantage__list__item.
        Во время занятий на свежем воздухе организм насыщается 
        кислородом. Это способствует ускорению обмена веществ 
        и улучшению самочувствия.
      li.advantage__list__item.
        Тренировки на природе помогают обрести душевную гармонию 
        и заряжают позитивной энергией.
      li.advantage__list__item.
        Совмещение физических упражнений с солнечными ваннами 
        насыщает организм витамином D.
      li.advantage__list__item.
        В теплое время года организм охотнее расстается с 
        лишними килограммами и похудение проходит легче.
    img.advantage__img(src="assets/img/advantage.png", alt="Advantage Image")
