section.footer__wrapper
  footer.footer
    article.footer__try
      h1.footer__try__title Не упусти шанс, выиграй
      a.footer__try__btn(href="#") Участвовать
    article.footer__copy
      p.footer__copy__inner @2018
