header.header__wrapper
  article.header
    img(src="assets/img/logo.png", alt="Website Logo").header__logo
    time.header__timer 10 дней:10:10:10
    section.header__content
      h2.header__content__title Участвуй в конкурсе и выиграй
      p.header__content__subtitle Абонемент лето
      p.header__content__desc В Smart Trainer Studio сумма приза 9900 руб
      input.header__content__input(type="text", placeholder="имя")
      input.header__content__input(type="text", placeholder="e-mail")
      input.header__content__input(type="text", placeholder="тел.")
      input.header__content__input(type="button", value="Участвовать")
      input.header__content__input--checkbox(type="checkbox", id="checkbox")
      label.header__content__input--label(for="checkbox") Галочка
    section.header__free
      h3.header__free__desc Для всех участников - 1 пробная аутдор тренировка.

  
