section.mobile__wrapper
  article.mobile
    h1.mobile__title Почему тренировки на свежем воздухе эффективнее чем в зале? 
    p.mobile__desc.
      Во время занятий на свежем воздухе организм насыщается кислородом. 
      Это способствует ускорению обмена веществ и улучшению самочувствия.
    p.mobile__desc.
      Тренировки на природе помогают обрести душевную гармонию 
      и заряжают позитивной энергией.
    p.mobile__desc.
      Совмещение физических упражнений с солнечными ваннами 
      насыщает организм витамином D.
    p.mobile__desc.
      В теплое время года организм охотнее расстается с 
      лишними килограммами и похудение проходит легче.
    img.mobile__img(src="assets/img/mobile.png", alt="Training")
