section.slider__wrapper
  article.slider
    h1.slider__title Тренировки на свежем воздухе
    a.slider__btn(href="#") Участвовать
    div.slider__block
      div.slider__block__slide
        img.slider__block__slide__img(src="assets/img/1.jpg", alt="Slider image")
      div.slider__block__slide
        img.slider__block__slide__img(src="assets/img/2.jpg", alt="Slider image")
      div.slider__block__slide
        img.slider__block__slide__img(src="assets/img/3.jpg", alt="Slider image")
      div.slider__block__slide
        img.slider__block__slide__img(src="assets/img/4.jpg", alt="Slider image")
      div.slider__block__slide
        img.slider__block__slide__img(src="assets/img/5.jpg", alt="Slider image")
      div.slider__block__slide
        img.slider__block__slide__img(src="assets/img/6.jpg", alt="Slider image")
