include ../modules/smart.jade

section.smart__wrapper
  article.smart
    h1.smart__title Смарт трейнинг студио - это:
    section.smart__desc
      +desc('assets/img/smart1.png', 'First image', 'Комфорт', 'В студии царит домашняя атмосфера. Пушистые полотенца, уютные халаты, а также косметика L’occitane в душевых, которая пленит каждую представительницу прекрасного пола')
      +desc('assets/img/smart2.png', 'Second image', 'Европейский дизайн', 'Дизайн студии был разработан для вашего удобства и комфорта. Никогда еще интерьер фитнес-студии не был таким домашним и европейским. Просто почувствуй разницу!')
      +desc('assets/img/smart3.png', 'Third image', 'Мастера своего дела', 'С Вами будут работать исключительно профессионалы. Тренеры, которые помогу осуществить любую Вашу цель. Вам обеспечен индивидуальный подход даже на групповых занятиях.')
