include ../modules/spesialist.jade

section.specialist__wrapper
  article.specialist
    div.specialist__info
      h1.specialist__info__title Наши специалисты
      span.specialist__info__border
      p.specialist__info__desc У нас более 15 профессиональных тренеров
    div.specialist__people__wrapper
      +people('assets/img/people1.png', 'First Specialist', 'Данил', 'Образование:высшее, ЮФУ инженер-физик. Специализация: функциональные тренировки, crossFit, стрейчинг. Тренерский стаж с 2009 года.')
      +people('assets/img/people2.png', 'Second Specialist', 'Владимир','КМС по баскетболу и ЛА, двукратный чемпион Юга России. Специализация: интервальные и скоростно-силовые тренировки, работа с набором и сбросом веса, коррекция осанки, диетология, подготовка проф. спортсменов к сезону и соревнованиям, построение тренировочного цикла, работа с травмами ОДА. Тренерский стаж с 2010 года')
      +people('assets/img/people3.png', 'Third Specialist', 'Людмила','Сертифицированный тренер Polestar Pilates GATEWAY MAT 1, 2. Pilates с большим и малым оборудованием, МФР, кинезиотейпирование, тренировки для беременных, постреабилитация. Тренерский стаж с 2003 года.')
