mixin desc(src, alt, title, subtitle)
  article.smart__desc__block
    img.smart__desc__block__img(src = src, alt = alt)
    h1.smart__desc__block__title= title
    p.smart__desc__block__subtitle= subtitle
  
